gmail_to_sheets.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bc9853d9-2451-40f9-9f84-a8badc653405",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "B5QnzJkejfWmJoeW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6b7ff48-acc5-4eba-80c1-c0e6e8b05cdf",
              "leftValue": "={{ $json[\"Subject\"] }}\n",
              "rightValue": "course",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "aad4ac44-c1be-4d70-b92a-dc82a17b5163",
              "leftValue": "={{ $json[\"Subject\"] }}",
              "rightValue": "internship",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3e6eeff6-cc67-446c-a02d-3542baf14585",
              "leftValue": "={{ $json[\"Subject\"] }}",
              "rightValue": "offer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "53e31652-db1d-4098-9235-963db4ba6ef7",
      "name": "If",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ans5D_1jOgWbS6e5sKP0hvSAwR4sU3mMXYSuKMEYKQk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ans5D_1jOgWbS6e5sKP0hvSAwR4sU3mMXYSuKMEYKQk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From": "={{ $json.From }}",
            "Subject": "={{ $json.Subject }}",
            "Snippet": "={{ $json.snippet }}",
            "Date": "={{ new Date(Number($json.internalDate)).toLocaleString(\"en-IN\") }}\n",
            "Id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        -16
      ],
      "id": "cc17bdc2-bd6d-4c43-9943-3903239da35f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rfztTrilNQ7GsvTD",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc50c7a8-e461-4561-a423-69480bafb227",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11ec281c432babd43ca7ea96e1c6bf42301a2da5d479739e1ecd07e5a1020b57"
  },
  "id": "ixS6dLGpqd3mnS9X",
  "tags": []
}